.selected-funds-outer{
    border: 1px solid rgb(175, 175, 175);
    padding: 5px 0;
    border-radius: 5px;
}
.selected-fund{
    border-top: 1px solid rgb(175, 175, 175);
   
   
}
.remove-icon{
    align-self: flex-end;
}