.section-btns{
    display: flex;
    margin-bottom: 10px;
}
.section-btn{
    border: 1px solid #000000;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
    margin-left: 10px;

}